*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

body {
    background-color: whitesmoke;
    font-size: 16px;
}

header {
    color: dodgerblue;
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: #b8cdeb;
}

h1 {
    font-size: 3rem;
}

p {
    line-height: 130%;
}
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    list-style: none;
    font-size: 2rem;

}

.nav-links li {
    margin: 1rem;
  
}

#projects {  
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-size: 2.5rem;
    color: dodgerblue;
}

.container {
    display: flex;
    flex-wrap: wrap;
    
}

.project-info {
    flex-grow: 1;
    max-width: 40%;
    border: 5px solid dodgerblue;
    margin: 10px;
   
}

#mainproj {
    flex-grow: 2;
    max-width: 80%;
}

.project-img {
    width: 100%;
    height: 100%;
}

.project-header {
    color: white;
    margin-bottom: -20px;
}

.project-desc {
    position: absolute;
    margin-top: -15%;
    background-color: rgb(88, 129, 170);
    color: #0a2134;
    width: fit-content;
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
}

h2 {
    color: dodgerblue;
    font-size: 2rem;
}

.contactinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.myphoto {
    height: 120px;
    border-radius: 50%;
}

.project-info:hover {
  box-shadow: 10px 10px 10px black;
}

@media screen and (max-width: 992px) {
    .container{
        flex-direction: column;
    }
    .project-desc{
        font-size: 1rem;
    }
}

@media screen and (max-width:768px) {
    .project-desc{
        font-size: .9rem;
    }
    .project-header{
        margin-bottom: -10px;
    }
    .project-desc {
        margin-top: -20%;
    }
    .nav-links {
        flex-direction: column;
    }
}